body {
    // background-color: rgb(199, 123, 25);
    background-color: rgb(207, 114, 114);
    color: black;
}

.wrapper {
    background-color: rgb(207, 114, 114);
    max-width: 1600px;
    margin: auto;
}

header {
    padding-inline: 2rem;
    background-color: rgba(209, 209, 209, 0.432);
    backdrop-filter: blur(20px);
    border-radius: 0 0 1.2rem 1.2rem;
    height: 50px;

    gap: 2rem;

    .nav {
        margin-left: auto;
        gap: 1rem;

        @media screen and(max-width: 450px) {
            display: none;
        }
    }

    .toggle-btn {
        height: 40px;
        display: none;
        margin-left: auto;

        svg {
            height: 40px;
        }

        @media screen and(max-width: 450px) {
            display: block;
        }
    }
}

main {
    display: flex;
    flex-direction: column;

    .search-bar {
        margin: auto;
        min-width: 260px;
        width: 70%;
        display: flex;
        align-items: center;
        position: relative;
        padding: .5rem;
        padding-inline: 1rem;
        background-color: rgba(192, 86, 86, 0.767);
        border-radius: 1.5rem;
        margin-top: 2rem;

        @media screen and(max-width: 450px) {
            width: 90%;
        }

        .icon {
            height: 40px;

            >svg {
                height: 40px;
            }
        }

        input {
            width: 100%;
            background-color: transparent;
            outline: none;
            border: none;
            line-height: 1.3rem;
            font-size: 1.3rem;
            font-family: poppins;
        }

        button {
            background-color: rgb(207, 114, 114);
            color: #000;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            cursor: pointer;
            margin-left: 1rem;
            font-family: poppins;
            font-weight: 600;
            font-size: 1.1rem;

            p {
                transform: rotate(-10deg);
            }
        }
    }

    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
        padding-top: 4rem;
        padding-inline: 4rem;

        @media screen and(max-width: 850px) {
            grid-template-columns: 1fr;
            gap: 2rem;
        }

        @media screen and(max-width: 735px) {
            padding: 1.3rem;
        }

        @media screen and(max-width: 400px) {
            padding: .7rem;
        }

        .left {
            display: grid;
            gap: 1rem;

            @media screen and(max-width: 850px) {
                padding-inline: .7rem;
            }

            .weather-img {
                height: 200px;
                aspect-ratio: 1;
                background: url(../images/cloudysunny.png);
                background-size: cover;
                background-position: center;
            }

            .text-content {
                display: grid;
                gap: 1rem;

                .condition {
                    font-size: 2.5rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }

                .country {
                    font-size: 1.2rem;
                    font-weight: 600;
                }

                .date-time {
                    font-size: 1.2rem;
                    font-weight: 600;
                }
            }
        }

        .right {
            display: grid;
            grid-template-columns: 1fr 1fr;
            background-color: rgba(192, 86, 86, 0.767);
            border-radius: 2rem;

            @media screen and(max-width: 850px) {
                padding-top: 3rem;
                padding-bottom: 3rem;
            }

            @media screen and(max-width: 450px) {
                grid-template-columns: 1.5fr 1fr;
            }


            ul {
                height: 100%;
                padding: 2rem;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
                justify-content: space-around;

                @media screen and(max-width: 735px) {
                    padding: .5rem;
                    padding-left: 1rem;
                }

                li {
                    display: flex;

                    div {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                    }
                }
            }

            .thermo-meter-container {
                display: grid;
                place-content: center;

                font-size: 1rem;

                @media screen and(max-width: 735px) {
                    font-size: .8rem;
                }

                @media screen and(max-width: 450px) {
                    font-size: .7rem;
                }

                .meter {
                    .outer-pipe {
                        position: relative;
                        background-color: rgb(39, 39, 39);
                        height: 18.75em;
                        width: 2.5em;
                        border-radius: 5em;
                        padding: .7em;

                        .inner-pipe {
                            background-color: rgb(107, 106, 58);
                            height: 100%;
                            width: 100%;
                            border-radius: 5rem;
                            position: relative;

                            .most-inner-pipe {
                                position: absolute;
                                bottom: 0;
                                height: 49%;
                                width: 100%;
                                background-color: rgb(216, 93, 72);
                            }

                            ul {
                                position: absolute;
                                right: 150%;
                                top: -10%;
                                display: flex;
                                flex-direction: column;
                                height: 120%;
                                width: 4.375em;
                                justify-content: space-between;

                            }
                        }

                        .outer-circle {
                            position: absolute;
                            bottom: -20px;
                            right: 0px;
                            transform: translateX(20%);
                            background-color: rgb(39, 39, 39);
                            height: 4.375em;
                            aspect-ratio: 1;
                            border-radius: 100vh;
                            padding: .7rem;

                            .inner-circle {
                                position: relative;
                                z-index: 999;
                                height: 100%;
                                aspect-ratio: 1;
                                background-color: rgb(216, 93, 72);
                                border-radius: 100vh;
                                display: grid;
                                place-content: center;

                                span {
                                    font-size: .9em;
                                    font-weight: 600;
                                    color: rgb(39, 39, 39);
                                }
                            }
                        }


                    }
                }

            }

        }
    }

    .extra-details {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 2rem;
        justify-content: space-around;
        margin-top: 2rem;

        @media screen and(max-width: 735px) {
            padding: 1rem;
        }

        .card {
            min-width: 300px;
            max-width: 700px;
            width: 100%;
            background-color: rgba(192, 86, 86, 0.767);
            border-radius: 1.5rem;

            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            gap: 1rem;

            div {
                font-size: 1.3rem;
                font-weight: 600;
                opacity: .5;
            }

            >P {
                font-size: 1.2rem;
                font-weight: 600;
            }

        }
    }

}


// utility

.flex {
    display: flex;
    align-items: center;
}

svg {
    height: 50px;
}